/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/critical.css
/public/sitemap.de.xml
/public/sitemap.en.xml
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
fingerprints.json
**/.DS_Store
storage/framework
storage/framework/*
storage/logs
storage/logs/*
/certificates/
composer.phar
diesi
