/* Non-critical font loading - Medium, SemiBold, Bold weights loaded after initial render */
@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 500;
    src: url("../font/static/FiraCode-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 600;
    src: url("../font/static/FiraCode-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 700;
    src: url("../font/static/FiraCode-Bold.ttf") format("truetype");
    font-display: swap;
}

/* Variable font fallback - Single file alternative */
@font-face {
    font-family: "Fira Code Variable";
    font-style: normal;
    font-weight: 300 700;
    src: url("../font/FiraCode-VariableFont_wght.ttf") format("truetype-variations");
    font-display: swap;
}